<% include ../includes/head.ejs %>
  										                
<div class="main" id="main-content" role="main">
  <header class="image" style="background-image: url(img/bg.jpg);">
    <div class="mid-align blurred">
      <h1><%= pageTitle %></h1>
    </div>
  </header>
  
  <h1 class="aligned-title"><%= penelitian.judul %></h1>
  
  <h2 id="academics" style="color: #0c304a">Dosen Terkait</h2>
    <% for(let d of dosen) { %>
      <ul>
        <li><a href="/dosen/profile/<%= d.nip %>" style="text-decoration: none;">
              <b><%= d.nama %></b>
            </a>(<%= d.nama_jabatan %>)
        </li>
      </ul>
    <% } %>

  <h2 id="fellows" style="color: #0c304a">Tahun</h2>
  <p><%= penelitian.tahun %></p>
  
  <h2 id="fellows" style="color: #0c304a">Sumber Dana</h2>
  <p style="padding-bottom: 70px;"><%= penelitian.nama_sumber_dana %></p>
</div>

<% include ../includes/foot.ejs %>